*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background-color: 	#3e3e42;
}
h1{
    color: azure;
    font-family: "Comic Neue", cursive;
    font-size: 3rem;
    font-weight: 700;
}
.main{
    height: 24rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    justify-content: space-between;
    align-items: center;
    gap:1px;
    padding: 4px;
    border-radius: 10px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    font-family: "Comic Neue", cursive;
    font-style: normal;
}
.display{
    padding-top: 10%;
    height: 20%;
    width: 100%;
    text-align: end;
    font-size: 2rem;
    color: azure;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
    text-wrap: wrap;
    
}
.button{
    height:80% ;
    width: 100%;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
}
.num{
    font-size: 1.5rem;
    border-radius: 50%;
}
.sign{
    color: #ec7263;
    font-size: 1.7rem;
    border-radius: 50%;
}
.equal{
    grid-row: 3/6;
    grid-column: 4;
    border-radius: 30px;
    background-color: rgba(255, 154, 60, 0.751);
}
#del{
    color: #ec7263;
}
#AC{
    color: black;
    background-color: rgba(255, 154, 60, 0.751);
}
button:hover{
    cursor: pointer;
}
button:active{
    color:#ff9a3c ;
}

